<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!-- Detailed 159 loose parts from Drive FBX, attached to base_link for static display (Option B, weapon-free) -->
  <xacro:macro name="detailed_visuals">
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_000.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_001.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_002.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_003.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_004.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_005.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_006.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_007.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_008.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_009.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_010.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_011.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_012.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_013.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_014.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_015.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_016.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_017.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_018.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_019.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_020.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_021.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_022.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_023.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_024.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_025.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_026.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_027.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_028.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_029.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_030.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_031.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_032.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_033.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_034.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_035.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_036.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_037.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_038.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_039.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_040.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_041.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_042.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_043.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_044.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_045.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_046.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_047.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_048.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_049.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_050.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_051.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_052.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_053.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_054.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_055.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_056.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_057.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_058.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_059.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_060.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_061.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_062.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_063.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_064.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_065.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_066.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_067.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_068.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_069.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_070.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_071.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_072.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_073.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_074.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_075.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_076.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_077.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_078.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_079.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_080.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_081.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_082.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_083.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_084.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_085.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_086.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_087.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_088.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_089.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_090.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_091.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_092.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_093.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_094.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_095.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_096.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_097.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_098.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_099.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_100.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_101.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_102.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_103.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_104.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_105.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_106.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_107.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_108.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_109.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_110.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_111.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_112.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_113.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_114.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_115.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_116.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_117.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_118.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_119.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_120.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_121.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_122.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_123.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_124.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_125.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_126.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_127.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_128.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_129.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_130.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_131.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_132.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_133.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_134.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_135.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_136.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_137.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_138.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_139.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_140.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_141.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_142.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_143.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_144.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_145.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_146.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_147.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_148.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_149.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_150.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_151.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_152.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_153.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_154.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_155.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_156.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_157.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
    <visual><origin xyz="0 0 -0.90" rpy="0 0 0"/><geometry><mesh filename="package://ares1_description/meshes/visual/part_158.stl" scale="1 1 1"/></geometry><material name="dark_grey"/></visual>
  </xacro:macro>
</robot>
